<h1><%= @user.first_name %> <%= @user.last_name %></h1>


<% if @projects.length > 0 %>
  <h2>Projects Owned:</h2>
  <% @projects.each do |prj| %>
    <div class="">
    <%= link_to("#{prj.title}", project_path(prj)) %>
    <% if prj.total_pledged > 0 %>
     | <%= number_to_currency(prj.total_pledged) %>
    <% end %>
    </div>
  <% end %>
<% end %>

<% if @pledges.length > 0 %>
  <h2>Projects Backed:</h2>
  <% @pledges.each do |pld| %>
    <div class="">
    <%= link_to("#{pld.project.title}", project_path(pld.project)) %> | <%= number_to_currency(pld.dollar_amount) %>
    </div>
  <% end %>

  <h2>Total Pledged: <%= number_to_currency(@total_pledged) %></h2>

<% end %>
