<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p>Owner of this project: <%= @owner.first_name %> <%= @owner.last_name %> <%= link_to("See Profile",user_path(@project.user)) %></p>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <% if current_user == @project.user %>
    <p>
      <small>
        <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
      </small>
    </p>
  <% end %>
<% end %>

<% if current_user == @project.user %>
  <h2>Backers:</h2>
  <% @pledges.each do |pledge| %>
  <% backer = User.find(pledge.user_id) %>
  <div><%= backer.first_name %> <%=backer.last_name %></div>
  <% end %>

  <%= link_to "Add new reward", new_project_reward_path(@project) %>
<% end %>