<% user_pledges = @project.pledges.where(user: current_user) %>
<% if user_pledges.length > 0 %>
  <p>You have pledged <%= number_to_currency(user_pledges.sum(:dollar_amount)) %> to this project!</p>
<% end %>

<h1><%= @project.title %> <time class="project-days-left">
  <br />
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc) ? 'remaining' : 'past deadline'}" %>
</time>
</h1>

<h2>Goal: <%= number_to_currency(@project.goal) %></h2>

<% if @project.pledges.length > 0 %>
  <h3>Total Raised: <%= number_to_currency(@project.total_amount_pledged) %></h3>
<% end %>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p>Owner of this project: 
<% if @project.user == current_user %>
  <%= link_to "You", user_path(@owner) %></p>
<% else %>
  <%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner) %></p>
<% end %>

<p><%= @project.description %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<% if @project.updates.length > 0 && (@project.user == current_user || @project.pledges.find_by(user: current_user)) %>
  <h2>Updates:</h2>
  <% @project.updates.each do |update| %>
    <div class="updates">
      <div class="update-box">
        <h3><%= update.title %></h3>
        <p><%= update.notes %></p>
        <small>Posted: <%= update.created_at.strftime("%B %d, %Y") %> at <%= update.created_at.strftime("%I:%M %p ") %></small>
      </div>
    </div>
  <% end %>
<% end %>

<% if @project.rewards.length > 0 %>

  <% if @project.user != current_user %>
    <h2>Rewards:</h2>
  <% else %>
    <h2>Rewards Claimed:</h2>
  <% end %>

  <% @project.rewards.each do |reward| %>
    <div class="rewards">
      <div class="reward-box">
        <h4><%= reward.description %></h4>

        <% if current_user != @project.user %>

          <p><%= number_to_currency(reward.dollar_amount) %>

            <% if current_user %>
           | <%= link_to "Pledge", new_project_path %></p>
            <% end %>

        <% else %>

          <p><%= reward.total_claims %> out of <%= reward.limit %> claimed</p>
            <small>
              <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
            </small>

        <% end %>
      </div>
    </div>
  <% end %>

<% end %>

<% if current_user && @project.user != current_user %>
  <h4>Custom Pledge</h4>
  <%= form_for [@project, Pledge.new] do |f| %>
    <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
    <%= f.submit "Pledge" %>
  <% end %>
<% end %>

<% if current_user == @project.user && @project.pledges.length > 0 %>
  <h2>Backers:</h2>
  <% @project.pledges.each do |pledge| %>
    <% backer = User.find(pledge.user_id) %>
    <p><%= link_to "#{backer.first_name} #{backer.last_name}", user_path(backer) %> <%= %> | $<%= pledge.dollar_amount %></p>
  <% end %>

  <div>
    <%= link_to "Add Project Update", new_project_update_path(@project) %>
    <br/>
    <%= link_to "Add New Reward", new_project_reward_path(@project) %>
  </div>
<% end %>
